<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <!-- Fuentes -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
  <!-- Estilos -->
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'core/css/main.css' %}" rel="stylesheet">

  <!--XDSoft Datetimepicker-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

</head>

<body>
  <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-family: ;">Tres ojos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="ned">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% if request.user.is_staff %}
            <a class="nav-link" href="{% url 'turnos:create_turno' %}">Turno</a>
          </li>
          {% endif %}
          <li class="nav-item">
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/">
              {% if request.user.is_staff %}Admin{% else %}Acceder{% endif %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Contenido -->
  {% block content %}{% endblock %}
  <!-- Javascript -->
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/js/main.js' %}"></script>
  <script>
    $(function () {
      $("#datetimepicker").datetimepicker({
        format:'d.m.Y H:i',
        inline:true,
        lang:'ru'
      });
    });
  </script>
</body>

</html>